.db-design-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  border-radius: 4px;
  box-sizing: border-box;
}
.el-icon-warning{
  color: #FFD600;
}
.title-hover{
  &:hover{
    cursor: move;
  }
}
/*滚动条样式*/
/deep/::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  height: 4px;
}
/deep/::-webkit-scrollbar-thumb {
  background: #dddddd !important;
  border-radius: 10px;
}
